<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.pofo.appmgmt.login.mapper.LoginMapper">
	<select id="login" resultType="UserModel">
		SELECT * FROM TBL_USER_M
		WHERE EML_ADDR = #{emlAddr}
		AND PWD = #{pwd}
	</select>
</mapper>